<?xml version="1.0" encoding="UTF-8"?>
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->
<!--</beans>-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet_clinic_end.mapper.UserMapper">
    <select id="getUserByEmail" resultType="com.pet_clinic_end.entity.User">
        SELECT * FROM user WHERE email=#{email}
    </select>
    <insert id="addCommonUser">
        INSERT INTO user SET email=#{email}, name=#{name}, password=#{password}, role=1, image='tmp_test'
    </insert>
    <select id="getUserPage" resultType="com.pet_clinic_end.entity.User">
        SELECT * FROM user WHERE name LIKE concat('%',#{name},'%') LIMIT #{begin}, #{pageSize}
    </select>
</mapper>